.calc-firstDisplay {
  background-color: grey;
  color: white;
  text-align: end;
  padding: 15px;
}

.calc-Btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.calc-greyBtn1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.calc-greyBtn2 {
  display: flex;
}

button {
  width: 160px;
  padding: 40px;
  background-color: #e0e0e0;
  margin: 1px;
  text-align: center;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.calc-greyBtn2 button {
  width: 100%;
}

.orange-btn {
  display: flex;
  flex-direction: column;
  width: 155px;
  text-align: center;
}

.orange-btn button {
  background-color: #f5913e;
}
